<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-14</integer>
		<key>X</key>
		<integer>-27</integer>
		<key>Y</key>
		<integer>-33</integer>
		<key>Z</key>
		<integer>-29</integer>
		<key>x</key>
		<integer>-9</integer>
		<key>z</key>
		<integer>-8</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-6</integer>
		<key>X</key>
		<integer>-8</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>Z</key>
		<integer>-26</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-8</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>I</key>
		<integer>-4</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-34</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>X</key>
		<integer>-43</integer>
		<key>Y</key>
		<integer>-53</integer>
		<key>Z</key>
		<integer>-39</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-8</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-18</integer>
		<key>z</key>
		<integer>-8</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-14</integer>
		<key>X</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-5</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-8</integer>
		<key>h</key>
		<integer>-8</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-6</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-7</integer>
		<key>p</key>
		<integer>-7</integer>
		<key>quotedblright</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>quotesingle</key>
		<integer>20</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-7</integer>
		<key>v</key>
		<integer>-13</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>-18</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-13</integer>
		<key>X</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-27</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-8</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-49</integer>
		<key>AE</key>
		<integer>-70</integer>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-11</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-8</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>quotesingle</key>
		<integer>20</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-16</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-27</integer>
		<key>Y</key>
		<integer>-38</integer>
		<key>Z</key>
		<integer>-22</integer>
		<key>k</key>
		<integer>-10</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-5</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-7</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-13</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-22</integer>
		<key>Z</key>
		<integer>-17</integer>
		<key>x</key>
		<integer>-14</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-14</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>Z</key>
		<integer>-18</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>A</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-26</integer>
		<key>Z</key>
		<integer>-27</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-15</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-15</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>K</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-23</integer>
		<key>R</key>
		<integer>-16</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-95</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>endash</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>T</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>AE</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-11</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>A</key>
		<integer>-48</integer>
		<key>AE</key>
		<integer>-65</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-18</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-16</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>K</key>
		<integer>-16</integer>
		<key>L</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-9</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-22</integer>
		<key>Y</key>
		<integer>-22</integer>
		<key>Z</key>
		<integer>-36</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-18</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-23</integer>
		<key>V</key>
		<integer>-17</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>Z</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-18</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-14</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-18</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-18</integer>
		<key>A</key>
		<integer>-48</integer>
		<key>AE</key>
		<integer>-65</integer>
		<key>B</key>
		<integer>-24</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>D</key>
		<integer>-10</integer>
		<key>E</key>
		<integer>-16</integer>
		<key>F</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-14</integer>
		<key>I</key>
		<integer>-11</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>K</key>
		<integer>-16</integer>
		<key>L</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>P</key>
		<integer>-14</integer>
		<key>R</key>
		<integer>-18</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>5</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>bullet</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-16</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-35</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>Z</key>
		<integer>-22</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-12</integer>
		<key>A</key>
		<integer>-35</integer>
		<key>AE</key>
		<integer>-45</integer>
		<key>B</key>
		<integer>-22</integer>
		<key>C</key>
		<integer>-22</integer>
		<key>D</key>
		<integer>-16</integer>
		<key>E</key>
		<integer>-19</integer>
		<key>F</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-16</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>K</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-19</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>P</key>
		<integer>-18</integer>
		<key>R</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-8</integer>
		<key>W</key>
		<integer>-8</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-38</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-7</integer>
		<key>AE</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-8</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>Z</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>A</key>
		<integer>-8</integer>
		<key>B</key>
		<integer>-37</integer>
		<key>C</key>
		<integer>-19</integer>
		<key>D</key>
		<integer>-27</integer>
		<key>E</key>
		<integer>-11</integer>
		<key>F</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>K</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-11</integer>
		<key>O</key>
		<integer>-11</integer>
		<key>P</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>T</key>
		<integer>-14</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Z</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-8</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-28</integer>
		<key>A</key>
		<integer>-48</integer>
		<key>AE</key>
		<integer>-70</integer>
		<key>B</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-17</integer>
		<key>D</key>
		<integer>-33</integer>
		<key>E</key>
		<integer>-20</integer>
		<key>F</key>
		<integer>-33</integer>
		<key>G</key>
		<integer>-21</integer>
		<key>H</key>
		<integer>-15</integer>
		<key>I</key>
		<integer>-19</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>K</key>
		<integer>-20</integer>
		<key>L</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-19</integer>
		<key>N</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>P</key>
		<integer>-25</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>colon</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-45</integer>
		<key>h</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-40</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>A</key>
		<integer>-21</integer>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-6</integer>
		<key>D</key>
		<integer>-18</integer>
		<key>E</key>
		<integer>-14</integer>
		<key>F</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-17</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>K</key>
		<integer>-14</integer>
		<key>L</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-7</integer>
		<key>P</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-23</integer>
		<key>Z</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-25</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>j</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>j</key>
		<integer>45</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>endash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-8</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>quotesingle</key>
		<integer>10</integer>
		<key>t</key>
		<integer>-8</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>aacute</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-15</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-7</integer>
		<key>x</key>
		<integer>-8</integer>
		<key>z</key>
		<integer>-5</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>j</key>
		<integer>15</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>braceright</key>
		<integer>25</integer>
		<key>bracketright</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-7</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-7</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedbl</key>
		<integer>25</integer>
		<key>quotedblleft</key>
		<integer>15</integer>
		<key>quotedblright</key>
		<integer>30</integer>
		<key>quoteleft</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>40</integer>
		<key>quotesingle</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>5</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>12</integer>
		<key>slash</key>
		<integer>15</integer>
		<key>v</key>
		<integer>-7</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>slash</key>
		<integer>10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-12</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-7</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>quotesingle</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-7</integer>
		<key>t</key>
		<integer>-8</integer>
		<key>v</key>
		<integer>-7</integer>
		<key>z</key>
		<integer>-7</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>ccaron</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>x</key>
		<integer>-14</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>j</key>
		<integer>45</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>J</key>
		<integer>-35</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-25</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>20</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-23</integer>
		<key>c</key>
		<integer>-12</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>j</key>
		<integer>-18</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-14</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-14</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>x</key>
		<integer>-7</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-80</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>c</key>
		<integer>3</integer>
		<key>f</key>
		<integer>5</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>5</integer>
		<key>v</key>
		<integer>5</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>quotedblleft</key>
		<integer>20</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>s</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-16</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>j</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-7</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-14</integer>
		<key>y</key>
		<integer>-8</integer>
		<key>z</key>
		<integer>-14</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>x</key>
		<integer>-12</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-8</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>f</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>j</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>s</key>
		<integer>-7</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-12</integer>
		<key>z</key>
		<integer>-8</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>j</key>
		<integer>11</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>10</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-16</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-12</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-8</integer>
		<key>v</key>
		<integer>-13</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
